/* src/App.module.css */
.appContainer {
  font-family: 'Roboto', sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
}

.layout {
  display: flex;
  min-height: 100vh;
}

.layout > *:first-child {
  flex-shrink: 0;
}

.mainSection {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.mainContent {
  flex: 1;
  overflow: auto;
  background-color: #f8f9fd;
  padding: 1rem;
  box-sizing: border-box;
}
