/* src/App.module.css */
.appContainer {
  font-family: 'Roboto', sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
}

.layout {
  display: flex;
  min-height: 100vh;
}

/* Sidebar-ul rămâne fix la stânga */
.layout > *:first-child {
  flex-shrink: 0;
}

.mainSection {
  display: flex;
  flex-direction: column;
  flex: 1;
}

/* Conținutul principal */
.mainContent {
  flex: 1;
  overflow: auto;
  background-color: #f8f9fd; /* gri foarte deschis */
  padding: 1rem; /* scade la 1rem pentru un aspect mai compact */
  box-sizing: border-box;
}
